<template name="menu">
    <div id='cssmenu'>
        <ul>
            <ul><a href="/"><span>Accueil</span></a></ul>
            <ul><a href='/listes'><span>Listes de gangs</span></a></ul>
            <ul><a href='/gangs'><span>Gangs</span></a></ul>
            <ul><a href='/personnages'><span>Personnages</span></a></ul>
            <ul><a href='https://www.knightmodels.com/es/downloads.html' target="_blank"><span>Règles</span></a></ul>
            <ul class='last'><span>{{> loginButtons}}</span></ul>
            
        </ul>
    </div>
</template>