<template name="footer">

        <footer class="footer-distributed">

                <div class="footer-left">
    
                    <h3>KnightModelsApp</h3>
    
                    <p class="footer-company-name">CODESI &copy; 2019</p>
                </div>
    
                <div class="footer-center">
    
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p><span>Le Manoir Wayne</span> Gotham City</p>
                    </div>
    
                    <!-- <div>
                        <i class="fa fa-phone"></i>
                        <p></p>
                    </div> -->
    
                    <div>
                        <i class="fa fa-envelope"></i>
                        <p><a href="">uit.arles@etu.univ-amu.fr</a></p>
                    </div>
    
                </div>
    
                <div class="footer-right">
    
                    <p class="footer-company-about">
                        <span>A propos de nous</span>
                        Sans commentaire.
                    </p>
    
                    <div class="footer-icons">

                        <p>Baptiste Marmier</p>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
    
                    </div>
                    <div class="footer-icons">

                        <p>Pierre Roman</p>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
        
                    </div>
    
                </div>
    
            </footer>

</template>