<template name="profilPersonnage">
    <div class="container">
            <div class="row">
                <div class="cardi">
                    <div class="image">
                        <img src="{{baniere}}" style="width:100%">
                    </div>
                    <div class="text">

                        <div class="imgProfil">
                            <img class="imgProfil" src="{{profilImg}}" style="width:100%">
                        </div>

                        <div id="information">

                            <h3>Alias: {{alias}}</h3>
                            <p>Rank: {{categori}}</p>
                            <p>Frunding: {{funding}}</p>
        
                        </div>



                        <div id="comptence">
                            <ul>
                                <ul>
                                    <a>
                                        <span>Strength</span>
                                        <p>{{strength}}</p>
                                    </a>
                                </ul>
                                <ul>
                                    <a>
                                        <span>Mouvement</span>
                                        <p>{{movement}}</p>
                                    </a>
                                </ul>
                                <ul>
                                    <a>
                                        <span>Attack</span>
                                        <p>{{attack}}</p>
                                    </a>
                                </ul>
                                <ul>
                                    <a>
                                        <span>Defense</span>
                                        <p>{{defense}}</p>
                                    </a>
                                </ul>
                                <ul>
                                    <a>
                                        <span>Special</span>
                                        <p>{{special}}</p>
                                    </a>
                                </ul>
                                <ul>
                                    <a>
                                        <span>Endurance</span>
                                        <p>{{endurance}}</p>
                                    </a>
                                </ul>
                                
                            </ul>
                        </div>
        
                    </div>

                </div>
            </div>
    </div>
</template>

<template name="cardPersonnage">

    <div class="card">
        <img src="{{img}}">
        <div class="card-body">
            <div class="card-title">
                <h2>{{alias}}</h2>
            </div>
            <div class="card-description">
                <p>Faction:</p><a>{{categori}}</a>
            </div>
            <div class="card-actions">
                <a class="btn" name="{{_id}}">Ajouter à mon gang</a>
            </div>
        </div>
    </div>
    
</template>

<template name="filterMenu">
    <div class="btnFilterContainer">
        <h3 class="titleFilter">Filtrer par catégorie: </h3>
        <a class="btn">Tous</a>
        <a class="btn">Joker</a>
        <a class="btn">The Brave And The Bold</a>
    </div>
</template>