<template name="profilPersonnage">
    <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2">
                <div class="cardi">
                    <div class="image">
                        <img src="{{img}}" style="width:100%">
                    </div>
                    <div class="text">
        
                        <h3>{{alias}}</h3>
                        <p>{{categori}}bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
                            bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
                        </p>
        
                    </div>
                </div>
                </div>
            </div>
    </div>
</template>

<template name="cardPersonnage">

        <div class="card">
            <img src="{{img}}">
            <div class="card-body">
                <div class="card-title">
                    <h2>{{alias}}</h2>
                </div>
                <div class="card-description">
                    <p>Faction:</p><a>{{categori}}</a>
                </div>
                <div class="card-actions">
                    <a href="#" class="btn">Ajouter à mon gang</a>
                </div>
            </div>
        </div>
    
</template>