<template name="personnages">
    <h3>La liste des personnages:</h3>
    <ul>
        {{#each personnages}}
            <li><i>{{alias}}</i> de valeur {{cout}}</li>
        {{/each}}
    </ul>
</template>

<template name="cardPersonnages">

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{alias}}</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Ajouter à mon gang</a>
            </div>
        </div>
</template>